/* App.css */

.App {
  text-align: center;
}

body {
  padding-top: 4rem; /* Height of the fixed navbar */
}

/* Example of a custom class for a page container */
.page-container {
  padding: 2rem;
  background-color: #fff;
  min-height: calc(100vh - 100px); /* Adjust based on your header/footer sizes */
}
